<section id="experience">
    <p class="title">Explore My</p>
    <h1 class="aboutme">Experience</h1>
  
    <!-- Both container -->
    <div class="experience-container">
      <div class="experience-details-container">
        <div class="experience">
          <!-- Individual container -->
          <div class="details_container_experience">
            <h6 class="experience_title">Frontend Development</h6>
            <br />
            <div class="content">
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  HTML
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  CSS
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  SASS
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  JavaScript
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  TypeScript
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  Material UI
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
            </div>
          </div>
  
          <div class="details_container_experience">
            <h6 class="experience_title">Backend Development</h6>
            <br />
            <div class="content">
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  PostgreeSQL
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  Node JS
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  Express JS
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
  
              <article>
                <p class="experienceinfo">
                  <i class="fa-solid fa-circle-check"></i>
                  Git
                </p>
  
                <span class="proficiency">Experienced</span>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  