<!-- home.component.html -->
<section id="home">
  <div class="home_text">
    <div class="image">
      <img src="/assets/images/sharedimage.jfif">
    </div>
    <div class="home">
      <p class="p1">Hello, I'm</p>
      <h1>Amritha Udupa</h1>
      <p class="p2">Full Stack Developer</p>
      <div class="button_container">
        <button>Download CV</button>
        <button>Contact info</button>
      </div>
      <div class="icons">
        <div class="icon">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="icon">
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
  </div>
</section>
