<!-- Contact -->
<section id="contact">
    <p class="contacttitle">Contact Me</p>
    <h1 class="contacttitle1">Get in touch</h1>
    <div class="whole_contact">
      <div class="main-contact">
        <div class="call">
          <p class="contactinfo">
            <i class="fa-solid fa-phone contact_icon"></i>
            Call Me
          </p>
          <span class="contact_details">+91 9322895413</span>
        </div>
  
        <div class="email">
          <p class="contactinfo">
            <i class="fa-solid fa-envelope contact_icon"></i>
            Email
          </p>
          <span class="contact_details">udupaamritha54&#64;gmail.com</span>
        </div>
  
        <div class="location">
          <p class="contactinfo">
            <i class="fa-solid fa-envelope contact_icon"></i>
            Location
          </p>
          <span class="contact_details">Mumbai,Maharashtra</span>
        </div>
      </div>
  
      <form class="contact_form grid">
        <div class="name_email grid">
          <div class="contact_content">
            <label for class="contact_label">Name</label>
            <input type="text" class="contact_input" />
          </div>
          <div class="contact_content">
            <label for class="contact_label">Email</label>
            <input type="text" class="contact_input" />
          </div>
        </div>
  
        <div class="contact_content">
          <label for class="contact_label">Project</label>
          <input type="text" class="contact_input" />
        </div>
  
        <div class="contact_content">
          <label for class="contact_label">Message</label>
          <textarea
            name
            id
            cols="0"
            rows="7"
            class="contact_input"
            style="height:35px;width:448px;"
          ></textarea>
        </div>
  
        <div class="submit">
          <button class="contact_submit">
            Send Message
            <i class="fa-solid fa-share"></i>
          </button>
        </div>
      </form>
    </div>
  </section>